@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 13.3%;
  }

  * {
    @apply border-key/20;
  }

  body {
    @apply bg-white text-key font-sans antialiased;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-semibold text-key;
  }
}
