@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    border-color: rgba(35, 31, 32, 0.2);
  }

  body {
    @apply bg-white font-sans antialiased;
    color: #231F20;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-semibold;
    color: #231F20;
  }
}
